.header {
    color: tomato;
    background-color: black;
    text-align: center;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 1%;
    position: relative;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

.nav li {
    float: left;
}

.nav {
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav > ul {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #ddd;
}




.logo {
    float: left;
    position: absolute;
    margin-top: -45px;
    margin-left: -30px;
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.leftcolumn {
    float: left;
    width: 65%;
}

.rightcolumn {
    float: left;
    width: 35%;
    background-color: #f0efec;
    padding-left: 0;
}

@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    font-family: monospace;
    font-size: 15px;
    font-weight: 10;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card1 {
    font-family: monospace;
    font-size: 15px;
    font-weight: 10;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 10%;
    margin-bottom: 11%;
}

.h6 {
    color: "#5D5D5D";
    font-family: serif;
}

#footer {
    background-color: black;
    line-height: 3.0em;
    margin: 0;
    text-align: center;
    clear: both;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 0;
    text-align: left;
    padding: 2.7%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

    
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 2px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid tomato;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: gold;
}

.button1:hover {
    background-color: tomato;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid black;

    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }

    @media screen and (max-width: 400px) {
        .nav ul a {
            float: none;
            width: 100%;
            display: bolck;
        }
    }
    
    
    